.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.user-profile {
  padding-top:50px;
  height:30%;
}

.image-container {
  text-align:center;
}

.user-image  {
  width:30%;
  height:auto;
}

.close-beaches-container {
  padding-top:25px;
  text-align: center;
  height:70%;
}

.beaches-list {
  margin-top:15px;
  height:calc(80% - 15px);
  overflow-y:scroll;
  margin-bottom: 0px;
}

.my-cleaning-events {
  height:15%;
  ion-button {
    margin-top:10px;
  }
}

p.list-tittle {
  height:5%;
  margin:0;
}

#settings {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
}
