<div class="content">
    <div class="user-profile">
        <div class="image-container">
            <img class="user-image"
                 src={{userAvatarUrl}}>
        </div>
    </div>

    <div class="close-beaches-container">
        <p>Estas playas cerca de ti necesitan limpieza</p>
        <ion-list class="beaches-list">
            <ion-item *ngFor="let beach of closestBeaches" [routerLink]="['/selected-beach', beach.id]">
                <ion-avatar slot="start">
                    <img src={{beach.smallImageUrl}}>
                </ion-avatar>
                <ion-label>
                   <h3>{{beach.name}}</h3>
                    <p>{{beach.peopleCleaningToday}} personas limpiando hoy</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Otras
                </ion-label>
            </ion-item>
        </ion-list>
        <ion-button expand="block" [routerLink]="['/my-cleaning-events']">Mis limpiezas</ion-button>
    </div>
</div>
