.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.user-profile {
  margin-top:50px;
}

.image-container {
  text-align:center;
}

.user-image  {
  width:30%;
  height:auto;
}

.close-beaches-container {
  margin-top:25px;
  text-align: center;
}
